# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
build/**

# Dependency directories (remove the comment below to include it)
__debug_bin

# environment
*.env
*.txt
*.log

# credentials
ssl
*.crt
*.key
*.pem